@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

#gameContainer{
    width: 500px;
    margin-top: 2vh;
    text-align: center;
}
#gameBoard{
    border: 3px solid;
}

#scoreText{
    font-family: 'Permanent Marker', cursive;
    font-size: 100px;
}

#resetBtn{
    font-family: 'Permanent Marker', cursive;
    font-size: 22px;
    widows: 100px;
    height: 50px;
    border: 4px solid;
    border-radius: 15px;
    cursor: pointer;
}

body{
   display: flex;
   justify-content: center;
   margin: 0;
   height: 100%;
   overflow: hidden;
}

#speedDisplay{
    border: 1px solid;
    /* margin-top: 20px; */
    margin-right: 20px;
    background: linear-gradient(#e66465, #9198e5);;
}

#controller{
    display: grid;
    width: 30vw;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(50px, auto);
    grid-column-gap: 10px;
    grid-row-gap: 1em;
}

.flex{
  width: 350px;
    display: flex;
    flex-direction: row;
    align-items:  center;
    justify-content: center;
    margin: auto;
    gap: 20px;
}

#up{
  font-size: 50px;
  grid-column-start: 2;
  grid-row-start: 1;
}

#down{
  font-size: 50px;
  grid-column-start: 2;
  grid-row-start: 2;
}

#left{
  font-size: 50px;
    grid-column-start: 1;
  grid-row-start: 2;
}

#right{
  font-size: 50px;
    grid-column-start: 3;
  grid-row-start: 2;
}